@charset "UTF-8";
* {
    font-family: font-min;
}

body, html {
    font-size: 100px;
    color: #030303;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #0457A9;
}

a:active, a:visited, a:focus {
    text-decoration: none;
    /*color: inherit;*/
}

p {
    margin: 0;
    line-height: .2rem;
}

i, em {
    font-style: normal;
}

img {
    width: 100%;
    height: auto;
    font-size: 12px !important;
}

input, button {
    outline: none;
}

.clear {
    clear: both;
}

.color-blue {
    color: #0457A9 !important;
}

.color-black {
    color: #030303 !important;
}

.color-gray {
    color: #676767 !important;
}

.color-grey {
    color: #9B9B9B !important;
}

.fz_12 {
    font-size: .12rem !important;
}

.fz_14 {
    font-size: .14rem !important;
}

.fz_16 {
    font-size: .16rem !important;
}

.fz_20 {
    font-size: .2rem !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 .1rem !important;
    }
}

.container, .row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.img img {
    width: 100%;
    height: auto;
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}

.demo-spin-icon-load {
    -webkit-animation: ani-demo-spin 1s linear infinite;
    -moz-animation: ani-demo-spin 1s linear infinite;
    -o-animation: ani-demo-spin 1s linear infinite;
    -ms-animation: ani-demo-spin 1s linear infinite;
    animation: ani-demo-spin 1s linear infinite;
}

@-webkit-keyframes ani-demo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes ani-demo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes ani-demo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes ani-demo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ani-demo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.demo-spin-col {
    height: 100px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.demo-spin-col span {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    border: 1px solid #0457A9;
    border-radius: 100%;
    border-right: 0;
    border-top: 0;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.demo-spin-col p {
    font-size: 14px;
    text-align: center;
    padding-top: 80px;
}

.ivu-page, .ivu-page * {
    font-size: 14px;
    text-align: center;
}

.ivu-page {
    margin-top: 40px;
}

.ivu-page-item:hover, .ivu-page-item-active {
    border-color: #0457A9;
    background: #0457A9;
    color: #ffffff;
}

.ivu-page-item:hover a {
    color: #ffffff;
}

.neditor_img_dialog_add {
    max-width: 80%;
}