<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/font-awesome.min.css">
    <title>华软出版社销售系统后台管理</title>
  </head>
  <body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
      <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><div class="cm-logo"></div></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
      </nav>
      <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
          <div id="cm-menu-scroller">
            <ul class="cm-menu-items">
                <li class="active"><a href="#" class="sf-house">This page is active</a></li>
                <li><a href="dashboard-sales.html" class="sf-dashboard">Dashboard</a></li>
                <li><a href="components-text.html" class="sf-brick">Components</a></li>
                <li class="cm-submenu">
                    <a class="sf-window-layout">Navbar layouts <span class="caret"></span></a>
                    <ul>
                        <li><a href="layouts-breadcrumb1.html">1st nav breadcrumb</a></li>
                        <li><a href="layouts-breadcrumb2.html">2nd nav breadcrumb</a></li>
                        <li><a href="layouts-tabs.html">2nd nav tabs</a></li>
                    </ul>
                </li>
                <li class="cm-submenu">
                    <a class="sf-cat">Icons <span class="caret"></span></a>
                    <ul>
                        <li><a href="ico-sf.html">Small-n-flat</a></li>
                        <li><a href="ico-md.html">Material Design</a></li>
                        <li><a href="ico-fa.html">Font Awesome</a></li>
                    </ul>
                </li>
                <li><a href="notepad.html" class="sf-notepad">Text Editor</a></li>
                <li><a href="login.html" class="sf-lock-open">Login page</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header id="cm-header">
      <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex"><h1>{block name='title'}Home{/block}</h1></div>
        <div class="pull-right">
          <button class="btn btn-primary md-notifications-white"></button>
        </div>
        <div class="dropdown pull-right">
          <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
          <ul class="dropdown-menu">
            <li class="disabled text-center">
              <a style="cursor:default;"><strong>用户名</strong></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#"><i class="fa fa-fw fa-user"></i> 个人信息</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-cog"></i> 设置</a>
            </li>
            <li>
              <a href="{:url('Login/login')}"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="global">
      <div class="container-fluid">
        {block name='main'}
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 style="margin:0">Hello World !</h2>
          </div>
        </div>
        {/block}
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 2017 Inc.</span></footer>
    </div>
    <script src="__PUBLIC__assets/js/lib/jquery-2.1.3.min.js"></script>
    <script src="__PUBLIC__assets/js/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__assets/js/jquery.cookie.min.js"></script>
    <script src="__PUBLIC__assets/js/fastclick.min.js"></script>
    <script src="__PUBLIC__assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__assets/js/clearmin.min.js"></script>
    {block name='js'}{/block}
  </body>
</html>
