<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__assets/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__im/vendor/jqueryrebox/jquery-rebox-0.1.0.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__im/css/RongIMWidget.css"/>
    <title>华软出版社销售系统后台管理</title>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__assets/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="cm-no-transition cm-1-navbar"  ng-controller="main">
<div style="z-index: 100">
    <rong-widget></rong-widget>
</div>
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex">
            <div class="cm-logo"></div>
        </div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li><a href="{:url('admin/Index/index')}" class="sf-house">欢迎页面</a></li>
                    <li class="cm-submenu">
                        <a class="sf-window-layout">出版物管理<span class="caret"></span></a>
                        <ul>
                            <li><a href="{:url('admin/Index/category')}">类别管理</a></li>
                            <li><a href="{:url('admin/Index/showPublication')}">出版物列表</a></li>
                            <li><a href="{:url('admin/Index/savePublication')}">添加出版物</a></li>
                        </ul>
                    </li>
                    <li><a href="{:url('admin/Admin/showAdmin')}" class="sf-profile">管理员管理</a></li>
                    <li><a href="{:url('admin/User/index')}" class="sf-profile-group">用户管理</a></li>
                    <li><a href="dashboard-sales.html" class="sf-dashboard">销售统计</a></li>
                    <li><a href="notepad.html" class="sf-notepad">评价管理</a></li>
                    <li><a href="notepad.html" class="sf-notepad">交易管理</a></li>

                    <li class="cm-submenu">
                        <a class="sf-window-system">前台设置<span class="caret"></span></a>
                        <ul>
                            <li><a href="{:url('admin/Front/getSwiper')}">轮播设置</a></li>
                        </ul>
                    </li>
                    <li><a href="{:url('Login/logout')}" class="sf-lock-open">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex"><h1>{block name='title'}Home{/block}</h1></div>
        <!--<div class="pull-right">-->
            <!--<button class="btn btn-primary md-notifications-white"></button>-->
        <!--</div>-->
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong>你好，{$user.name}</strong></a>
                </li>
                <li class="divider"></li>
                <li class="disabled">
                    <a href="#"><i class="fa fa-fw fa-user"></i> {$user.role|roleConversion}</a>
                </li>
                <li class="resetPassword">
                    <a href="#"><i class="fa fa-fw fa-cog"></i> 修改密码</a>
                </li>
                <li>
                    <a href="{:url('Login/logout')}"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    {block name='main'}
    <div class="container-fluid cm-container-white">
        <h2>Welcome!</h2>
        <blockquote>
            <p>
            <h2>华软出版社后台管理系统</h2>
            系统入口<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <a href="#">http://winton.wang/</a>
            </p>
        </blockquote>
    </div>
    {/block}
    <footer class="cm-footer"><span class="pull-right">&copy; 2017 Inc.</span></footer>
</div>

<!-- 重置密码模态框 -->
<div class="modal fade" id="resetPwd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{:url('admin/Admin/changePassword')}" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="resetModalLabel">
                        修改密码
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="resetOld" class="col-sm-2 control-label">老密码</label>
                        <div class="col-sm-10">
                            <input type="text" name="old" class="form-control" id="resetOld" placeholder="请输入老密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resetNew" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                            <input type="text" name="new" class="form-control" id="resetNew" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resetNewTwo" class="col-sm-2 control-label">重复密码</label>
                        <div class="col-sm-10">
                            <input type="text" name="newTwo" class="form-control" id="resetNewTwo"
                                   placeholder="请再次输入新密码">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="__PUBLIC__assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="__PUBLIC__assets/js/jquery.mousewheel.min.js"></script>
<script src="__PUBLIC__assets/js/jquery.cookie.min.js"></script>
<script src="__PUBLIC__assets/js/fastclick.min.js"></script>
<script src="__PUBLIC__assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__assets/js/clearmin.min.js"></script>

<script src="__PUBLIC__im/vendor/angular-1.4.8.js"></script>

<!-- 融云IMLib -->
<script src="__PUBLIC__im/js/RongIMLib-2.2.5.min.js"></script>
<script src="__PUBLIC__im/js/RongEmoji-2.2.5.min.js"></script>
<script src="__PUBLIC__im/js/Libamr-2.2.5.min.js"></script>
<script src="__PUBLIC__im/js/RongIMVoice-2.2.5.min.js"></script>

<!-- 上传插件 -->
<script src="__PUBLIC__im/vendor/plupload.full.min-2.1.1.js"></script>
<script src="__PUBLIC__im/vendor/qiniu-1.0.17.js"></script>

<!-- 增强体验插件 -->
<script src="__PUBLIC__im/vendor/jqueryrebox/jquery-rebox-0.1.0.js"></script>

<!-- IM插件 -->
<script src="__PUBLIC__im/js/RongIMWidget.js"></script>
<script src="__PUBLIC__im/demo/common.js"></script>
<script src="__PUBLIC__im/demo/index.js"></script>
{block name='js'}{/block}

<script>
    var appk = "{$appkey}";
    var token = "{$user.token}";

    var userListUrl = "{:url('admin/base/userlist')}";
    var online = "{:url('admin/base/online')}";
    $('.resetPassword').click(function () {
        $('#resetPwd').modal();
    });
</script>
</body>
</html>
