<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!--内核渲染器-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <!--IE8/9及以后的版本都会以最高版本IE来渲染页面-->
    <meta name="format-detection" content="telephone=no">
    <!--手机号不被显示为拨号连接-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>部门介绍</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="__PUBLIC__static/portal/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/font.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/header.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/style.css">

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/jquery-1.11.3.min.js"></script>-->
    <script src="__PUBLIC__static/portal/js/jquery.cookie.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/vue.js" charset="UTF-8"></script>-->
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/iview.min.js" charset="utf-8"></script>-->

</head>

<body>
{include file="layout/head" /}

<div id="app" class="container content">
    <div class="title mt_50">
        <span>部门介绍</span>
    </div>
    <div class="row" style="margin-top: 150px;">
        <div class="col-md-3 col-xs-4 col-sm-6">
            <div class="dep_left">
                <dl class="active">
                    <dt><a href="#fx" data-toggle="tab" class="depart">发行经营部</a></dt>
                    <div class="dd_box"></div>
                </dl>
                <dl class="">
                    <dt><a href="#sc" data-toggle="tab" class="depart">市场部</a></dt>
                    <div class="dd_box"></div>
                </dl>
                <dl class="">
                    <dt><a href="#cbyw" data-toggle="tab" class="depart">出版业务管理部</a></dt>
                    <div class="dd_box"></div>
                </dl>
                <dl class="">
                    <dt><a href="#xxjs" data-toggle="tab" class="depart">信息技术部</a></dt>
                    <div class="dd_box"></div>
                </dl>
                <dl class="">
                    <dt><a href="#zljc" data-toggle="tab" class="depart">质量检查部</a></dt>
                    <div class="dd_box"></div>
                </dl>
            </div>
        </div>
        <div class="col-md-9 col-xs-8 col-sm-6">
            <div class="dep_right">
                <ul class="tab-pane fade in active" id="fx">
                    <li>
                        <p>
                            负责华软版及代理出版社图书的储存、发运、营销、推广、销售等工作，具有库存管理、产品运营、渠道管理、数据分析、营销推广等职能；下辖运营部、销售部、大客户部、财务部、储运部五个二级部门，共有员工110人，拥有遍布全国23个大中型城市的驻店销售代表网络，在零售（地面店）、零售（网店）、教材、图书馆、团购、商超、机场、政策性市场等拥有完善而有效的渠道体系。</p>
                    </li>
                    <li>
                        <p>联系人：
                            <span>赵碧涵</span>
                        </p>
                    </li>
                    <li>
                        <p>联系电话：
                            <span>010-87456123</span>
                        </p>
                    </li>
                </ul>
                <ul class="tab-pane fade" id="sc" style="position: absolute;top: 0px;">
                    <li><p>
                        负责华软出版社重点图书项目的营销策划和宣传推广；积极开发媒体资源和对外合作资源，积极推进营销资源库建设，与媒体机构、社群组织有良好的合作；负责运营华软出版社官方自媒体，统筹社内自媒体运作；加强产品和优势图书门类的宣传和推广，推动营销工作不断创新；为出版社提质增效、转变经营模式提供有效的保障。</p>
                    </li> <!----><!---->
                    <li><p>联系人：<span>马玉伶</span></p> <!----> <!----></li><!---->
                    <li><!----> <p>联系电话：<span>010-87456123</span></p> <!----></li>
                </ul>
                <ul class="tab-pane fade" id="cbyw" style="position: absolute;top: 0px;">
                    <ul>
                        <li><p>
                            负责全社图书、期刊、音像电子出版物、网络出版物、数字出版物的业务管理工作，包括制度建设、质量管理、流程管理、法务管理、书号管理、版权管理、合同管理、外事管理、广告管理、资料管理；负责传达上级业务主管单位的管理规定，落实出版社的管理要求，协调处理生产环节出现的问题，是出版社业务管理工作的中枢和纽带。</p>
                        </li> <!----><!---->
                        <li><p>联系人：<span>刘依</span></p> <!----> <!----></li><!---->
                        <li><!----> <p>联系电话：<span>010-87456123</span></p> <!----></li>
                    </ul>
                </ul>
                <ul class="tab-pane fade" id="xxjs" style="position: absolute;top: 0px;">
                    <li><p>
                        负责规划、建设及管理出版社信息系统，实现信息技术应用的标准化，为出版社各项业务及管理工作的开展提供高效、可靠的信息应用平台及充分的技术支持，为出版社数字出版、融合发展提供支撑；负责全社数字化加工、整理、归档、管理等工作，承担数字产品的策划、编辑、制作、运营等工作，将出版社拥有的内容优势转化为数字产品与服务，最终实现将读者变用户的目标。</p>
                    </li> <!----><!---->
                    <li><p>联系人：<span>李海涛</span></p> <!----> <!----></li><!---->
                    <li><!----> <p>联系电话：<span>010-87456123</span></p> <!----></li>
                </ul>
                <ul class="tab-pane fade" id="zljc" style="position: absolute;top: 0px;">
                    <li><p>质量检查部是出版物质量管理部门，负责我社各类出版物质量检查的组织和落实工作。</p></li> <!----><!---->
                    <li><p>联系人：<span>王亚明</span></p> <!----> <!----></li><!---->
                    <li><!----> <p>联系电话：<span>010-87456123</span></p> <!----></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{include file="layout/foot" /}

{include file="layout/goback" /}

<script>
    $(function () {
        $('.depart').click(function () {
            $.each($('.depart'), function (index, item) {
                $(item).parent().parent().removeClass('active');
            });
            $(this).parent().parent().addClass('active');
        });

    });

</script>

</body>

</html>