<!--尾部-->
<div class="container footer">
    <div class="row">
        <div class="col-md-10 col-sm-12 col-xs-12 coop">
            <div class="col-md-12 col-sm-12 col-xs-12 coop_title">合作伙伴</div>
            <div id="coop">
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://book.dangdang.com/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/fc96714bef67474aa314a39052e7dfa4.png" alt="当当">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.cbbr.com.cn/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/dde80bd4a231479c8543d9cabb10a3aa.png" alt="中国出版传媒商报  ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.zte-s.com.cn/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/986f9011599c426589571df0458aef49.png" alt="中兴软件技术 ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="https://book.tmall.com/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/192feab90b73414b8fb6bf6966e9b981.png" alt="天猫">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="https://www.amazon.cn/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/c9636d2de4d14217b2872f6669ab3d30.png" alt="亚马逊">
                    </a>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.chinaxwcb.com/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/88a01d7c0b834a52aac48b40d3440820.png" alt="中国新闻出版广电报">
                    </a>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.toutiao.com/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/f761c34fc4e14d529048d320181d3288.png" alt="出版人">
                    </a>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.gmw.cn/"
                       target="_blank">
                        <img src="__PUBLIC__static/portal/img/f6abbf6602d34664a764283d68f9d84f.png" alt="中华读书报">
                    </a>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.xhsd.cn/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/cc33179b24434151bbb9157054cac8b7.png" alt="新华书店">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="http://www.cptoday.cn/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/05547e3d9a404235906d401a3ee87356.png" alt="出版商务周报 ">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 coop_item">
                    <a href="https://book.jd.com/" target="_blank">
                        <img src="__PUBLIC__static/portal/img/93e995b5a9cd4e1a87fe45e9af60ae6c.png" alt="京东">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12 footer_nav pull-right" id="footerNav">
            <dl class="col-md-12 col-sm-12 col-xs-12">
                <dt>关于我们</dt>
                <dd>
                    <a href="{:url('index/base/proprieter')}" target="_blank">社长寄语</a>
                </dd>
                <dd>
                    <a href="{:url('index/base/about')}" target="_blank">企业简介</a>
                </dd>
                <dd>
                    <a href="{:url('index/base/structure')}" target="_blank">组织机构</a>
                </dd>
                <dd>
                    <a href="{:url('index/base/department')}" target="_blank">部门介绍</a>
                </dd>
                <dd>
                    <a href="{:url('admin/login/login')}" target="_blank">后台入口</a>
                </dd>
                <dt></dt>
                <dt>社区服务</dt>
                <dd>
                    <a href="http://www.epubit.com.cn" target="_blank">异步社区</a>
                </dd>
                <dd>
                    <a href="http://www.ituring.com.cn/" target="_blank">图灵社区</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row qrcode">
                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 text-center">
                    <div class="qrcode_item">
                        <div class="img">
                            <img src="__PUBLIC__static/portal/img/wx.png" alt="读者服务">
                        </div>
                        <p>读者服务</p>
                    </div>
                    <div class="qrcode_item">
                        <div class="img">
                            <img src="__PUBLIC__static/portal/img/wd.png" alt="官方微店">
                        </div>
                        <p>官方微店</p>
                    </div>
                    <div class="qrcode_item">
                        <div class="img">
                            <img src="__PUBLIC__static/portal/img/wb.png" alt="官方微博">
                        </div>
                        <p>官方微博</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row footer_text">


                <p>华软出版社 京ICP备 05035396号-1 All rights reserved
                    <i>Copyright
                        <span>©</span>1998-2017</i>
                </p>
                <p>
                    出版物经营许可证：新出发京批字第版0151号
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602130054"
                       target="_blank">
                        <i class="icon_bei"></i>京公网安备11010602130054号
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>