<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!--内核渲染器-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <!--IE8/9及以后的版本都会以最高版本IE来渲染页面-->
    <meta name="format-detection" content="telephone=no">
    <!--手机号不被显示为拨号连接-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社长寄语</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="__PUBLIC__static/portal/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/font.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/header.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__static/portal/css/style.css">

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/jquery-1.11.3.min.js"></script>-->
    <script src="__PUBLIC__static/portal/js/jquery.cookie.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/vue.js" charset="UTF-8"></script>-->
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <!--<script src="__PUBLIC__static/portal/js/iview.min.js" charset="utf-8"></script>-->

</head>

<body>
{include file="layout/head" /}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="__PUBLIC__static/portal/img/about.jpg" width="100%" height="auto">
        </div>
    </div>
    <div class="row article">
        <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
            <h1>社长寄语</h1>
        </div>
        <div class="col-md-12 col-sm-12 col-sm-12 article_text">
            <p style="text-align: center;"><span style="font-family: 宋体; font-size: 14px;"><img
                    src="__PUBLIC__static/portal/img/proprieter.jpg"
                    alt="社长寄语照片.jpg" width="720" height="516" style="width: 720px; height: 516px;"></span></p>
            <p><span style="font-family: 宋体; font-size: 14px;"></span></p>
            <p><span style=";font-family:宋体"></span></p>
            <p>自1953年成立至今，华软出版社已经走过了六十多年的历程。</p>
            <p>回首往昔，我们满怀感激。一代代华软出版人毕其心、竭其力，坚持“尊重、诚信、严谨、高效、创新”的企业精神，积累了深厚的出版文化底蕴，形成了独具特色的华软出版品牌。</p>
            <p>
                立足今朝，我们心潮激荡。新一代华软出版人改革发展的脚步依然铿锵有力。大力推进出版业务提质增效，做优出版主业；不断加强营销创新，增强市场竞争力；积极践行出版“走出去”，促进优质版权输出；推进传统出版与新兴出版融合发展，推动发展转型升级，取得了社会效益与经济效益双丰收，为社会、为读者奉献了大批精品力作。</p>
            <p>展望未来，我们任重道远。秉承着文化事业的神圣使命，面对激烈的市场竞争和产业升级，我们积极布局在线媒体、数字出版，拓宽渠道，加强创新，紧抓机遇，不断超越，努力成为产业升级发展的先锋，开创出版行业新形态。</p>
            <p>传播知识，引领阅读。华软出版社将始终致力于服务科教兴国，为读者提供新知，开创新视界，以科学的精神创新发展，用文化的力量推动进步。感谢各界朋友的支持，华软出版社愿时刻与您携手，共创美好未来！</p>
            <p><span style="font-size:14px;font-family:宋体"></span></p>
            <p><br></p>
        </div>
    </div>
</div>

{include file="layout/foot" /}

{include file="layout/goback" /}

<script>
    $(function () {

    });

</script>

</body>

</html>