<!--轮播图片-->
<div class="swiper-container swiper-banner swiper-container-horizontal swiper-container-fade">
    <div class="swiper-wrapper" style="transition-duration: 0ms;">

    </div>
    <div class="swiper-pagination pagination-sjj swiper-pagination-clickable swiper-pagination-bullets">

    </div>
    <div class="swiper-button-prev slide_prev">
        <i class="icon iconfont icon-xiangzuojiantou"></i>
    </div>
    <div class="swiper-button-next slide_next">
        <i class="icon iconfont icon-xiangyoujiantou"></i>
    </div>
</div>
<!--轮播图片end-->